[data-bs-theme="dark"] {
  .navbar.application-menu {
    background-color: #15221d !important;
  }

  .flash.toast {
    &.notice {
      .toast-body {
        color: #{$white};
        background: #{$blue-700};
      }
    }

    &.alert {
      .toast-body {
        color: #{$white};
        background: #{$red-700};
      }
    }
  }

  .json-field {
    .form-group {
      background-color: #58575755;
    }
  }

  .popover {
    .popover-header {
      background-color: #{$dark};
    }
  }

  .search-field-results {
    background-color: $dark;
    .search-field-result {
      color: #{$light};
    }
    .search-field-result {
      cursor: pointer;
      &:hover {
        background-color: #{darken($blue, 8%)};
        color: #{$light};
      }
    }
  }

  table {
    tbody {
      tr {
        &.odd {
          td, th { background-color: #{rgba($dark, 0.3)}; }
        }

        &.even {
          td, th { background-color: #{lighten(rgba($dark, 0.3), 8%)}; }
        }

        &:hover {
          td, th { background-color: #{rgba($primary, 0.2)}; }
        }
      }
    }
  }
}
