[data-bs-theme="dark"] {
  .navbar.application-menu {
    background-color: #15303a !important;
  }

  .dropdown-item:hover {
    --bs-dropdown-link-hover-bg: #{$blue-700};
  }

  .flash.toast {
    &.notice {
      .toast-body {
        color: #{$white};
        background: #{$blue-700};
      }
    }

    &.alert {
      .toast-body {
        color: #{$white};
        background: #{$red-700};
      }
    }
  }

  .json-field {
    .form-group {
      background-color: #58575755;
    }
  }

  .popover {
    .popover-header {
      background-color: #{$dark};
    }
  }

  .search-field-results {
    background-color: $dark;
    .search-field-result {
      color: #{$light};
    }
    .search-field-result {
      cursor: pointer;
      &:hover {
        background-color: #{darken($blue, 8%)};
        color: #{$light};
      }
    }
  }

  table {
    tbody {
      tr {
        &.odd {
          td, th { background-color: #{rgba($dark, 0.3)}; }
        }

        &.even {
          td, th { background-color: #{lighten(rgba($dark, 0.3), 8%)}; }
        }

        &:hover {
          td, th { background-color: #{rgba($primary, 0.2)}; }
        }
      }
    }
  }

  .pagination {
      .page-link {
        --bs-pagination-active-bg: #505050;
        --bs-pagination-active-color: #{darken($light, 10%)};
      }
      --bs-pagination-hover-color: #8e8c84;
      --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(50, 93, 136, 0.25);
      --bs-pagination-active-color: #333433;
      --bs-pagination-active-bg: #626262;
      --bs-pagination-bg: #{$dark};
      --bs-pagination-disabled-bg: #464646;
      --bs-pagination-border-color: #{$dark};
      --bs-pagination-active-border-color: #{$dark};
      --bs-pagination-disabled-color: #dfd7ca;
      --bs-pagination-disabled-border-color: #000;
  }
}
