@import "variables";
@import "bootstrap";
@import "dark";

.navbar.application-menu {
  height: 5rem;
  transition: height 0.5s ease-in-out, background-position 0.8s ease-in-out;
  background-position: right 1.2rem center;
  background-repeat: no-repeat;
  z-index: 2000;

  &.shrink {
    height: 3rem;
    background-position: right -50rem center;
  }

  &:hover {
    height: 5rem;
    background-position: right 1.2rem center;
    background-repeat: no-repeat;
  }
}

.main.content {
  top: 10rem;
  position: relative;
}

td.action-column {
  width: 2rem;
}

.action-button {
  margin-right: 0.5rem;
  min-width: 5rem;
}

table {
  td.action-column {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .action-button {
    margin-right: 0.2rem;
    min-width: 2rem;

    .button-title {
      display: none;
    }
  }

  tbody {
    tr {
      &.odd {
        td, th { background-color: #{rgba($light, 0.3)}; }
      }

      &.even {
        td, th { background-color: #{darken(rgba($light, 0.3), 10%)}; }
      }

      &:hover {
        td, th { background-color: #{rgba($primary, 0.2)}; }
      }
    }
  }
}

form {
  label {
    display: inline;
  }
}

.modal-dialog.modal-dialog-scrollable .modal-content {
  max-height: 80%;
  min-height: 80%;
  margin-top: 5rem;
}

.json-field {
  ol {
    line-height: 2rem;
    margin-top: 2.8rem;

    ol {
      margin-top: 1rem;
    }
  }

  ol.focus {
    margin-top: 0;
  }

  .form-group {
    padding: 1rem;
    background-color: #58575755;
  }

  .json-delete-object-button {
    margin-top: 1rem;
    margin-right: 1.8rem;
  }

  .form-floating {
    .json-date-field-label, .json-time-field-label, .json-datetime-local-field-label, .json-datetime-field-label {
      position: relative;
      display: inline;
    }
  }

  &.modal-body {
    ol {
      margin-top: 0;
    }

    .json-delete-object-button {
      margin-top: 0;
      margin-right: 0;
    }

    .form-group {
      padding: 1rem;
      margin-top: 0.8rem;
    }
  }

  .focus {
    .focus-field-name {
    }

    .focus-field-syntax {
    }

    .focus-field-value {
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    .expand-button {
      margin-right: 0.4rem;
    }
  }


  li .json-text-field, li .json-select-field {
    width: calc(100% - 3.2rem);
  }

  .form-control, .form-select {
    display: inline;
    .append-button {
      display: inline;
    }
  }

  .form-group {
    border-radius: 10px;
    background-color: #dddada55;
    border-radius: 10px;
  }

  .action-button {
    min-width: 2rem;
    margin-left: 0.2rem;

    .button-title {
      display: none;
    }
  }
}

.search-field-results {
  min-width: 25rem;
  background-color: $white;
  position: fixed;
  height: 15rem;
  overflow-y: auto;
  .search-field-result {
    cursor: pointer;
    &:hover {
      background-color: #{$blue};
      color: #{$white};
    }
  }
}

.flash.toast {
  position: absolute;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 0;
  z-index: 3000;

  &.notice {
    .toast-body {
      background: #{$blue-100};
    }
  }

  &.alert {
    .toast-body {
      background: #{$red-100};
    }
  }
}

#theme-select {
  font-size: 1.5rem;
  padding: 0.2rem 0.8rem;
  position: absolute;
  right: 0;

  a {
    &.dark-theme {
      color: #{$theme-select-icon-dark};

      &:hover, &:active {
        color: #{lighten($theme-select-icon-dark, 10%)};
      }
    }

    &.light-theme {
      color: #{$theme-select-icon-light};

      &:hover, &:active {
        color: #{lighten($theme-select-icon-light, 10%)};
      }
    }
  }
}
