@import "variables";
@import "bootstrap";
@import "dark";
@import "checkboxes";


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.application-menu {
  height: 5rem;
  padding-left: 2rem;
  top: 0;
  transition: height 0.5s ease-in-out, background-position 0.8s ease-in-out;
  background-color: #508ea1 !important;
  z-index: 2000;
  .dropdown-toggle::after {
    color: #{$blue};
  }

  &.shrink {
    height: 2.5rem;
  }
}

.main.content {
  top: 7rem;
  position: relative;
  padding-bottom: 3rem;
}

td.action-column {
  width: 2rem;
}

.action-button {
  margin-right: 0.5rem;
  min-width: 5rem;
}

table {
  td.action-column {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .action-button {
    margin-right: 0.2rem;
    min-width: 2rem;

    .button-title {
      display: none;
    }
  }

  tbody {
    tr {
      &.odd {
        td, th { background-color: #{rgba($light, 0.3)}; }
      }

      &.even {
        td, th { background-color: #{darken(rgba($light, 0.3), 10%)}; }
      }

      &:hover {
        td, th { background-color: #{rgba($primary, 0.2)}; }
      }
    }
  }
}

form {
  label {
    display: inline;
  }
}

.modal-dialog.modal-dialog-scrollable.json-field-modal .modal-content {
  max-height: 80%;
  min-height: 80%;
  margin-top: 5rem;
}

.modal-content pre, .modal-content div.json-highlight {
  font-size: 0.875rem;
  line-height: 1.2rem;
  font-family: monospace;
}

.json-field {
  ol.json-array-field {
    margin-top: 1rem;
  }

  ol {
    line-height: 2rem;

    &.array-of-objects {
      margin-top: 2.8rem;
    }

    ol {
      margin-top: 1rem;
    }
  }

  ol.focus {
    margin-top: 0;
  }

  li {
    scroll-margin-top: 6rem;
  }

  .form-group {
    padding: 1rem;
    background-color: #58575755;

    &.depth-1 {
      padding: 0;
      background-color: transparent;
    }
  }

  .form-check {
    display: flex;
    align-items: center;
    margin-left: 1.25rem !important;

    .form-check-input {
      margin-top: 0;
    }

    .form-check-label {
      margin-left: 0.4rem;
    }
  }
  .json-delete-object-button {
    // margin-top: 1rem;
    // margin-right: 1.8rem;
    // margin-bottom: 1rem;
  }

  .form-floating {
    .json-date-field-label, .json-time-field-label, .json-datetime-local-field-label, .json-datetime-field-label {
      position: relative;
      display: inline;
    }
  }

  &.modal-body {
    ol {
      margin-top: 0;
    }

    .json-delete-object-button {
      margin-top: 0;
      margin-right: 0;
    }

    .form-group {
      padding: 1rem;
      margin-top: 0.8rem;
    }
  }

  .focus {
    .focus-field-name {
    }

    .focus-field-syntax {
    }

    .focus-field-value {
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    .expand-button {
      margin-right: 0.4rem;
    }
  }


  .delete-object-button-wrapper {
    padding-bottom: 2rem;
  }


  .json-array-field {
    li, .json-delete-button {
      opacity: 0;
      animation: fade-in ease-in 1;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
      animation-delay: 0;
    }
  }

  .json-array-field {
    li .json-text-field,
    li .json-select-field,
    li .json-integer-field,
    li .json-float-field,
    li .json-decimal-field,
    li .json-date-field,
    li .json-time-field,
    li .json-datetime-field {

      &.deletable {
        width: calc(100% - 3.2rem);
      }
    }
  }

  .append-button {
    position: relative;
    z-index: 300;
  }

  .form-control, .form-select {
    display: inline;
    .append-button {
      display: inline;
    }
  }

  .form-group {
    border-radius: 10px;
    background-color: #dddada55;
    border-radius: 10px;
  }

  .action-button {
    min-width: 2rem;
    margin-left: 0.2rem;

    .button-title {
      display: none;
    }
  }
}

.search-field-results {
  min-width: 25rem;
  background-color: $white;
  max-height: 15rem;
  z-index: 3000;
  position: absolute;
  overflow-y: auto;
  .search-field-result {
    color: #{$dark};
  }
  .search-field-result {
    cursor: pointer;
    &:hover {
      background-color: #{$blue};
      color: #{$white};
    }
  }
}

.flash.toast {
  position: absolute;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 0;
  z-index: 3000;

  &.notice {
    .toast-body {
      background: #{$blue-100};
    }
  }

  &.alert {
    .toast-body {
      background: #{$red-100};
    }
  }
}

.user-menu-icon {
  font-size: 1.5rem;
}

#theme-select {
  font-size: 1.5rem;

  a {
    &.dark-theme {
      color: #{$theme-select-icon-dark};

      &:hover, &:active {
        color: #{lighten($theme-select-icon-dark, 10%)};
      }
    }

    &.light-theme {
      color: #{$theme-select-icon-light};

      &:hover, &:active {
        color: #{lighten($theme-select-icon-light, 10%)};
      }
    }
  }
}
