<div class="d-none" id="secret-templates">
  <span id="secret-show-button-template">
    <a href="#"><i class="fa-solid fa-fw fa-eye"></i></a>
  </span>

  <span id="secret-hide-button-template">
    <a href="#"><i class="fa-solid fa-fw fa-eye-slash"></i></a>
  </span>

  <span id="secret-content-template"></span>
</div>
