<h1>Forbidden</h1>

<h2 class="text-danger">Access to this resource has not been configured</h2>

<p>The <span class="text-primary font-monospace"><%= type %></span> resource for <span class="text-primary font-monospace"><%= controller_name.titleize %></span> has not been configured, please contact your administrator.</p>

<hr/>
