<% if value %>
  <span class="text-success">
    <i class="fa-solid fa-fw fa-check"></i>
    Yes
  </span>
<% else %>
  <span class="text-danger">
    <i class="fa-solid fa-fw fa-xmark"></i>
    No
  </span>
<% end %>
