<div id="theme-templates" class="d-none">
  <div id="theme-select-buttons">
    <a id="theme-dark-button-template" href="#" class="dark-theme" data-theme-switch-to="light"><i class="fa-regular fa-fw fa-moon"></i></a>
    <a id="theme-light-button-template" href="#" class="light-theme" data-theme-switch-to="dark"><i class="fa-regular fa-fw fa-sun"></i></a>
  </div>
</div>
