<div class="application-menu position-fixed w-100 navbar navbar-dark bg-dark navbar-expand-lg">
  <%= render partial: 'active_element/theme/select' %>
  <div class="container p-0">
    <a class="navbar-brand" href="#"><%= ActiveElement.application_title %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% ActiveElement.navbar_items(active_element.current_user).each do |navbar_item| %>
          <li class="nav-item">
            <%=
              link_to navbar_item.fetch(:title) { navbar_item.fetch(:label) },
                      navbar_item.fetch(:path),
                      class: "nav-link #{
                        ActiveElement.active_path_class(
                          user: active_element.current_user,
                          current_navbar_item: navbar_item,
                          current_path: request.path,
                          controller_path: controller_path,
                          action_name: action_name)
                      }"
            %>
          </li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
